{% extends 'base.html' %}

{% block content %}
    
    <div style="text-decoration: none; color: steelblue; font-family: sans-serif; text-align: center;">

        <h1>{{ post.Firstname }}</h1>
        <h2>{{ post.Lastname }}</h2>
        <h3>{{ post.Middlename }}</h3>
        <h4>{{ post.Username }}</h4>
        <h5>{{ post.Email }}</h5>
        <h6>{{ post.Password }}</h6>
        <p>{{ post.Birthdate }}</p>
        <h5><a href="{% url 'update' post.pk %}">Edit</a></h5>
        <h5><a href="{% url 'delete' post.pk %}">Delete</a></h5>

    </div>

{% endblock content %}